/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image:url(bg.png);
    height: 100%;
    font-family: monospace;
    
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }


   
  /* navbar start */
  .navbar {
    display: flex;
    align-items:center;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
   }
   .menu {
   align-items:center;
   
   }

   .menu li{ /*added*/
    display:flex;
    margin-right: 100px;
    justify-content:space-evenly;
    text-align:center;
    font-size:xx-large;
   }


   .nav-links a {
    color: rgb(255, 237, 220);
    font-weight: 700;
   }

  .menu {
    display: flex;
    gap: 1em;
    font-size: xx-large;
   
   
   }
   .menu li:hover {
    background-color: rgb(43, 43, 43); 
    display: block;
    transition: 0.3s ease;
    
   }
   .menu li {
    padding: 10px;
    list-style: none;/*change*/
    margin:auto;
   }

   .menu li a{ /*change*/
    text-decoration:none;
   }
     /* dropdown menu start */
   .services {
    position:relative;
    }
    .dropdown {
    background-color: rgb(181, 173, 157);
    margin-top: 10px;
    position: absolute; /*WITH RESPECT TO PARENT*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow:clip;
    width: 100%;
    display: none;/*change*/
    margin-left: -10px;/*change*/
    list-style: none;/*change*/
    text-align: center;
    
   }
   
   .fa-fa-caret-down{
    display:inline;
    
   }

   .dropdown li {
    margin-top: 0px;
    width:min-content;
    text-align: center;
    font-size: 100%;
    width:100%;
    margin-left: 0px;/*change*/
    font-size:large;
   
   }
   .dropdown li a{
    text-decoration: none;
    
   }

   .dropdown li:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
   }

   .services:hover .dropdown {
    display: block;
    
   }
/* dropdown menu/
/*nav-bar end*/

/*aligning frames start*/

.frames_position {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  .frames::after {
    content: "";
    clear: both;
    display: table;
  }

/*aligning frames end*/

/*artist text start*/

.artist_text {

    display: flex;
    justify-content: space-around;
    width: 95%;
    flex-direction: row;
    margin-left: 2.5%;
    white-space: nowrap;
    
    
}

.artist_text li {
    width: 20%;
    height: 20%;
    margin: 0%;
    font-size: x-large;
    

}

.artist_text li a {

    color: black;
}

.artist_text li a:hover {

    color: rgba(255, 153, 0, 0.856);
}

#pushleft {

    margin-left: 35%;
}

#pushmiddle {

    margin-left: 35%;
}


#pushright {

    margin-left: 33%;
}


/*artist text end*/

/*artist 1 start*/

#artist1_frame {
   
    display: flexbox;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 8.5%;
    margin-left: 22%;
    
}


/*artist 1 end*/

/*artist 2 start*/

#artist2_frame {
    
    display: flexbox;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-top: 23%;
    margin-left: 13%;
  

    
}

/*artist 2 end*/

/*artist 3 start*/

#artist3_frame {
    
    display: flexbox;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 8.5%;
    margin-right: 22%;
    float: right;
        
}

/*artist 3 end*/

/*footer start*/
.footer{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 2px;
    height:auto;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width:100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
}
 .social_icon {

    color: bisque;
    font-size: large;

 }  
    

  .footer a {
    margin-top: auto 0;
    text-decoration: none;
    size:100rem;
  }
/*footer end*/

#my_sanity {

  opacity: 0.00000001;
  padding-bottom: 1%;
}
